.my-button {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .my-button:hover {
    background-color: #000;
    color: #fff;
    border-color: #fff;
  }